html {
  height: 100%
}

body {
  max-width: 72ch;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2ch;
  background: linear-gradient(#fff, #fff) 50% 50% / 72ch 200% repeat-y, conic-gradient(from var(--from), red, orange, blue, green, indigo, violet) 50% 50% / 73ch 500vh no-repeat #ccc;
  min-height: 100%;
  animation: swirl 20s infinite;
  --from: 45deg;

  > p:last-child {
    padding: 0 0 3ch 0;
  }
}

dt {
  font-weight: bold
}

dd {
  margin: 1em
}


form {
  margin: 0;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background: lightyellow;
  border: 2px solid yellow;
  font-family: sans-serif;
  * {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
  }
  input {
    padding: 0.5rem;
  }
}


@keyframes swirl {
  0% {
    --from: 0deg;
  }
  50% {
    --from: 350deg;
  }
  100% {
    --from: 0deg;
  }
}
h2:has(+ dl + form) {
  border: 3px double orange;
  background: bisque;
  padding: 0.1rem 0.5rem;
  line-height: 1;
  color: darkred;
  font-family: sans-serif;
}


dl:has(+ form) {
  display: grid;
  font-family: sans-serif;
  gap: 0.33rem;
  margin: 0 0 1rem 0.75rem;

  dt {
    /* background: red; */
    font-weight: normal;
    color: darkred;
  }
  dd {
    margin: 0 0 0 1rem;
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    img {
      opacity: 0.9;
      width: 1.5rem;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

}

a:has(img[ismap]) {
  display: block;
  width: min-content;
  img {
    display: block;
    width: 549px;
    height: 60px;
  }
}

