html {
  height: 100%
}

body {
  max-width: 72ch;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2ch;
  background: linear-gradient(#fff, #fff) 50% 50% / 72ch 200% repeat-y, conic-gradient(from var(--from), red, orange, blue, green, indigo, violet) 50% 50% / 73ch 100vh no-repeat #ccc;
  background-attachment: fixed;
  min-height: 100%;
  transition: background 0.5s ease-in-out;
  animation: swirl 6s infinite;
  --from: 45deg;

  > p:last-child {
    padding: 0 0 3ch 0;
  }
}

dt {
  font-weight: bold
}

dd {
  margin: 1em
}


form[method="post"] {
  margin: 0;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  background: lightyellow;
  border: 2px solid yellow;
  font-family: sans-serif;
  * {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
  }
  input {
    padding: 0.5rem;
  }
}
form:has(h2) {
  h2 {
    > samp {

    }
    > b {
      color: color-mix(in srgb, currentColor 80%, yellowgreen);
      background: yellowgreen;
      aspect-ratio: 1;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      gap: 2px;
      align-items: center;
      padding: 2px;
      font-weight: normal;
      font-size: 1.5rem;
      position: relative;
      border: 1px solid;
    }
    > i {
      font-size: 1rem;
      font-weight: normal;
      font-family: system-ui, sans-serif;
      display: inline-block;
      max-height:0;
      overflow:hidden;
      transition:max-height 0.3s linear;
    }
  }



  /* tilde.css | https://tilde.club/~artlung/tilde.css?1755789401 */

  form:has(h2) h2 > i {
    padding: 0.5lh;
    background: yellowgreen;
    line-height: 1.4rem;
    margin: 1lh 0;
  }









  &:has(input:checked) {
    h2 {
      > i {
        margin: 1lh 0 0;
        max-height: 10lh;
        border: 1px solid;
        background: yellowgreen;
        padding: 1lh;
      }
      > b {
        &::after {
          content: '';
          position: absolute;
          display: block;
          height: 1lh;
          overflow: hidden;
          background: yellowgreen;
          bottom: -1lh;
          border-inline: 1px solid;
          width: 0.2rem;
        }
      }
    }
  }

}


@keyframes swirl {
  0% {
    --from: 0deg;
  }
  50% {
    --from: 350deg;
  }
  100% {
    --from: 0deg;
  }
}
h2:has(+ dl + form) {
  border: 3px double orange;
  background: bisque;
  padding: 0.1rem 0.5rem;
  line-height: 1;
  color: darkred;
  font-family: sans-serif;
}


dl:has(+ form) {
  display: grid;
  font-family: sans-serif;
  gap: 0.33rem;
  margin: 0 0 1rem 0.75rem;

  dt {
    /* background: red; */
    font-weight: normal;
    color: darkred;
  }
  dd {
    margin: 0 0 0 1rem;
    display: flex;
    gap: 1rem;
    justify-content: start;
    align-items: center;
    img {
      opacity: 0.9;
      width: 1.5rem;
      aspect-ratio: 1;
      border-radius: 50%;
    }
  }

}

a:has(img[ismap]) {
  display: block;
  width: min-content;
  img {
    display: block;
    width: 549px;
    height: 60px;
  }
}

